:host {
  display: block;
}

button {
  background-color: var(--color-button);
}

button:hover,
button[value='active'] {
  background-color: var(--color-button-hover);
}

button:disabled {
  background-color: var(--color-button-disabled);
}
