tp-timer {
  display: inline;
  position: relative;
  line-height: 1em;
  color: var(--color-text);
}

.add-time-button {
  height: 1.5rem;
  line-height: 0.7rem;
  padding: 0.4rem;
  width: 2rem;
  display: inline;
  font-size: 0.7rem;
  width: unset;
  border-radius: 0.5rem;
  position: absolute;
  top: -0.15rem;
  right: -3rem;
}

.needs-backdrop .add-time-button {
  top: 0.3rem;
  right: -2.5rem;
}
