:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  user-select: none;
}

.selectable {
  user-select: text;
}

button {
  background-color: var(--color-button);
}

button:hover {
  background-color: var(--color-button-hover);
}

button:disabled {
  background-color: var(--color-button-disabled);
}
