@import '../../globals/css/modal.css';
@import '../../globals/css/toggle.css';
@import '../../globals/css/global-styles.css';

[icon='info'] {
  display: inline-block;
  position: relative;
  cursor: pointer;
  top: 0.15em;
  height: 1em;
  width: 1em;
}

.settings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.settings > div {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  padding-block: 0.75rem;
  align-items: center;

  &.indent-1 {
    width: 95%;
    max-width: 475px;
    margin-inline-start: max(2.5%, 25px);
    font-size: 0.9em;
    padding-block: 0.4rem;
  }
}

.settings select {
  width: 20ch;
  height: 2rem;
  border-radius: 0.5rem;
  font-size: medium;
}
