.toggle-wrapper {
    height: 1.32rem;
    width: 2.3rem;
    position: relative;
    border-radius: 1rem;
    background-color: #777;
    cursor: pointer;
  }
  
  .toggle-wrapper.checked {
    background-color: var(--color-brand);
  }
  
  .toggle-wrapper > input {
    visibility: hidden;
  }
  
  .toggle-wrapper > label {
    display: block;
    position: absolute;
    cursor: pointer;
    top: 0.15rem;
    left: 0.15rem;
    transition: left 0.2s;
    background-color: var(--color-toggle-handle);
    z-index: 1;
    height: 1rem;
    width: 1rem;
    border-radius: 0.55rem;
  }
  
  input:checked + label {
    left: 1.15rem;
  }